librosa~=0.10.2
numpy
faiss-cpu==1.7.4
ffmpeg-python
tqdm
audioread
onnxruntime
audio-separator[gpu]
ffmpy
samplerate
pyaudio
spacy
monotonic_align
textacy
spacytextblob
accelerate
yt-dlp
deep-translator
openmim
opencv-python
soundfile
diffusers
scikit-learn
torchcrepe