librosa~=0.10.2
numpy
fairseq==0.12.2
faiss-cpu
ffmpeg-python
tqdm
audioread
onnxruntime
audio-separator[gpu]
ffmpy
samplerate
pyaudio
spacy
monotonic_align
textacy
spacytextblob
accelerate
yt-dlp
deep-translator
openmim
opencv-python
soundfile
openmim
diffusers